<template>
  <lightning-card title="Org Limits Dashboard" icon-name="action:preview">
    <div class="slds-m-around_medium">
      <template if:true={orglimits.data}>
        <c-progress-ring-datatable-comp
          key-field="limitName"
          data={orglimits.data}
          columns={columns}
          hide-checkbox-column
          class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped"
        >
        </c-progress-ring-datatable-comp>
      </template>
      <template if:true={orglimits.error}>
        <!-- handle Apex error -->
      </template>
    </div>
  </lightning-card>
</template>
